.login__header{
    background-color: #00093c;
    /* background: #fff; */
}

.menu__list-link,
.menu__list-link__with-underline{
    color: #fff;
}

.menu__list-link{
    text-decoration: underline #fff;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.login_logo{
    display: block;
    margin-bottom: 43px;
}