*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat",sans-serif;
    color: #000;
    background-color: #f6f7f9;
    font-size: 14px;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    background-color: #fff;
    position: relative;
    z-index: 1000;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.menu {
    display: flex;
    font-size: 14px;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__list-item {
    margin-right: 40px;
}

.menu__list-link--courses::before {
    background-image: url("/images/icons/courses.svg");
    width: 20px;
    height: 16px;
    top: 0;
}

.menu__list-link{
    color: #000;
    text-decoration: none;
}

.menu__list-link:hover::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: #f11212;
    -webkit-transition: width .5s;
    -o-transition: width .5s;
    transition: width .5s;
}

.menu__list-link--courses::before {
    background-image: url("/images/icons/courses.svg");
    width: 20px;
    height: 16px;
    top: 0;
}

.main{
    margin: 0;
}

.top-picture {
    height: 480px;
    position: relative;
    color: #00093c;
    background-repeat: no-repeat;
    background-position: 60% 40%;
}

.top-picture:after {
    content: "";
    position: absolute;
    background-image: url("../images/background/top-picture-box-after.svg");
    width: 215px;
    height: 414px;
    right: 259px;
    top: 112px;
    bottom: 0;
    z-index: 10;
    background-repeat: no-repeat;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.top-picture__title {
    position: relative;
    max-width: 600px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    padding-top: 126px;
    margin-bottom: 41px;
    z-index: 11;
    display: block;
    font-size: rem(36);
    max-height: rem(172.8);
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-picture__subtitle {
    font-size: 20px;
    line-height: 1.2;
    display: block;
    font-size: rem(20);
    max-height: rem(96);
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
}

